* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.about{
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: black;
  line-height: 1.5em;
  padding:0 25% 0 25% ;
  text-align: center;
}

ul li{
  padding-right:8%;
  list-style-type: none;
  font-family: monospace;
  font-size: 25px;
  line-height: 55px;
  text-align: center;
}
ul li a{
  color: black;
  border: 2px solid black;
  padding: 3px;
}
ul li a:hover{
  background-color: pink;
}

/* top of page banner */

.banner-container, .banner-containerkitchen{
  display: flex;
  align-items: baseline;
  padding-left: 20px;
  background-color: white;
  position: fixed;
  z-index: 3;
  height: 75px;
  width: 100%;
  opacity:80%;
}
.banner-container{
  justify-content: right;
}
.banner-containerkitchen{
  justify-content: space-between;
}

.banner-item1 {
  min-height: 75px;
  font-family: 'Syne Tactile', cursive;
  font-weight: 400;
  font-size: 33px;
  margin: 15px;
}
.banner-item2{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  width: 150px;
  margin: 15px;
  background-color: #92e972;
}
.banner-item2:hover{
  transition-duration: 0.5s;
  background-color: #33c100;
}
.intro .name{
  font-family: 'Syne Tactile', cursive;
  font-weight: lighter;
  font-style: normal;
  font-size: 0.7em;
}
/* main introduction */

.lower-body{
  background-color: transparent;
  position: relative;
  min-height: 100vh;
}
.td1{
  width: 60%;
}
.td2{
  width: 34%
}
.intro{
  height: 470px;
  position: static;
  color: black;
  line-height: 110%;
  letter-spacing: -0.0025em;
  margin-left: 50px;
  margin-top: 80px;
  font-size: 3.7em;
}
.bio{
  font-family: "area-normal", sans-serif;
  font-weight: bold;
  font-style: normal;
}
.mypic{
  max-width: 350px;
  z-index: -2;
  height: 350px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 65px;
  filter: drop-shadow(16px 16px 16px rgb(177, 177, 177));
  margin-left: 10%;
}

/* skills and interests */

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;

}
 /* contact me  */

.connect{
  width: 100%;
  height: 50px;
  padding: 100px;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: pink;
  text-decoration: underline;
}
/* projects */
.big-header{
  font-weight: 300;
  font-size: 1.8em;
  z-index: 2;
  position: relative;
  padding: 3%;
}
.md-header{
  font-weight: 200;
  font-size: 1em;
  padding: 3%;
}
h1{
  font-family: sans-serif;
  color: white;
  line-height: 1.4em;
  padding-left: 17px;
  padding-right: 17px;
  text-align: left;
  font-weight: 100;
  padding-bottom: 2%;
}
h2{
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 2.2em;
  padding: 3% 3% 0 3%;
  line-height: 130%;
}
h3{
  text-align: left;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.3em;
  line-height: 130%;
  padding: 0 8% 3% 3%;
}
.content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-evenly;
  padding: 5px 20px 100px 20px;
  position: absolute;
  background-color: transparent;
}
.C1, .C2, .C3, .C4{
  width: 48%;
  height: 450px;
  margin:1%;
}
.C1{
  background-color: white;
  color: black;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.C1 * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}
.C1:before,
.C1:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px  rgba(0, 0, 0, 0.5);
  border-bottom: 32px  rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;

}
.thirteen-img{
  position: relative;
  width: 100%;
  top:0;
  backface-visibility: hidden;
}
.kitchen-img{
  position: relative;
  width: 100%;
  backface-visibility: hidden;
}
.kitchencastpage{

  width: 100%;
}
.kitchenscreen{
  width: 45%;
  padding: 0.2% 2% 5% 2%;
}
.screens{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;
}
.kitchenheader{
  font-family: bilo, sans-serif;
  font-weight: bolder;
  font-size: 1.7em;
  padding: 10% 3% 0.5% 3%;
}
.kitchencastabout{
  max-width: 80%;
  padding: 1% 7%;
}
.kitchensubhead{
  font-family: bilo, sans-serif;
  font-weight: bolder;
  font-size: 1.4em;
  padding: 0% 3% 0.5% 3%;
  text-align: left;
}
.kitchenbody{
  text-align: left;
  padding-left: 7%;
  line-height: 150%;
  position: static;
  max-width: 80%;
  font-size: 1em;
}
.logo-img{
  position: relative;
  max-width: 100%;
  top:27%;
  backface-visibility: hidden;
}
.C1 figcaption{
 position: absolute;
 top: 10%;
 bottom: 0;
 left: 2%;
 right: 0;
 display: flex;
 flex-direction: column;
 opacity: 0;
 z-index: 2;
 transition-delay: 0.1s;
}
.C1:hover:before,
.C1:hover:after {
  transform: scale(1);
  opacity: 1;
}
.C1:hover figcaption {
  opacity: 1;
}

.C2{
  background-color: blue;
}
.C3{
  background-color: purple;
}
.C4{
  background-color: red;
}
p{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  color: black;
  font-size: 1.5em;
  text-align: center;
}
footer{
  color: black;
  font-size: 1.5em;
  padding-top: 5%;
  font-family: sans-serif;
  text-align: center;
  line-height: 130%;
  font-weight: lighter;
}
.work{
  position: static;
  font-family: "area-normal", sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 2em;
}
/* dot */

.stage {
  top: 10%;
  position: absolute;
  z-index: -1;
  /* must be explicit, for contrast */
  background: transparent;
  
  /* weirdness happens when edges hit */
  padding: 30px;
  
  /* autoprefixer helping here */
}
.dot {
  position: relative;
  left: 20%;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  opacity: 20%;
  display: inline-block;
  /* needs to be very contrasty color. Some light gray won't work */
  background: rgb(162, 181, 255);
  filter: blur(15px);
}
.dot2 {
  position: relative;
  left: 40%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  opacity: 40%;
  display: inline-block;
  /* needs to be very contrasty color. Some light gray won't work */
  background: rgb(222, 255, 164);
  filter: blur(15px);
}
/* responsive */
@media only screen and (max-width: 1290px) {
  .C1, .C2, .C3, .C4{
    width: 48%;
    height: 550px;
  }
  .intro {
    font-size: 3.2em;
    height: 400px;
    margin-top: 110px;
  }
  .mypic{
    width: 270px;
    height: 270px;
  }
}
@media only screen and (max-width: 1000px) {
  .intro {
    font-size: 3em;
    margin-top: 110px;
  }
  .table{
    height: 400px;
  }
  .C1, .C2, .C3, .C4{
    width: 48%;
    height: 350px;
  }
}
@media only screen and (max-width: 850px) {
  .intro {
    font-size: 2em;
    height: 300px;
    margin-top: 90px;
    margin-left: 20px;
  }
  .mypic{
    width:0px;
    height: 0px;
  }
  .C1, .C2, .C3, .C4{
    width: 90%;
    height: 500px;
  }
  .content{
    margin-top: 2%;
  }
  .td1{
    width: 100%;
  }
  .td2{
    width: 0%;
  }
  .kitchenscreen{
    width: 100%;
    padding: 0.2% 2% 5% 2%;
  }
}
@media only screen and (max-width: 550px) {
  .intro {
    font-size: 1.8em;
    margin-top: 85px;
    height: 230px;
  }
  .td1{
    width: 100%;
  }
  .td2{
    width: 0%;
  }
  .intro{
    text-align: left;
  }
  .C1, .C2, .C3, .C4{
    width: 97%;
    height: 350px;
  }
  .banner-item2{
    padding: 7px;
    width: 120px;
    margin: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .intro {
    font-size: 1.8em;
    margin-top: 73px;
    margin-left: 10px;
    margin-right: 10px;
    height: 240px;
  }
  h1{
    font-size: 1.3em;
  }
  h3{
    font-size: 1em;
  }
  .dot, .dot2{
    height: 70px;
    width: 70px;
}
}
@media only screen and (max-width: 380px) {
  .intro {
    font-size: 2em;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
  }
  .dot, .dot2{
    height: 70px;
    width: 70px;
}
}