* {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-image: linear-gradient(to right,  rgb(253, 214, 255), rgb(255, 254, 149));
}
table{
  padding-bottom: 20px;
}
a{
  text-decoration: none;
}

 h2{
   position: -webkit-sticky;
   position: sticky;
   top: 75px;
   font-family: sans-serif;
   font-weight: 300;
   font-size: 1.5rem;
   color: black;
   text-align: center;
   padding: 2% 20% 0 20%;
   line-height: 100%;
   background-color: white;

 }

 .skills{
   position: -webkit-sticky;
   position: sticky;
   top: 75px;
   background-color: white;
   height: 1000px;
   /* z-index: -1; */

 }
 h3{
   font-family: forma-djr-text,sans-serif;
   font-weight: 400;
   font-size: 1.2em;
   color: black;
   line-height: 1.5em;
   padding-top: 10px;
   padding-bottom: 10px;
 }

 p {
   font-family: monospace;
   text-align: center;
   font-weight: 300;
   font-size: 170%;
   color: black;
   line-height: 150%;
   padding: 0 10% 5% 10%;
   text-decoration: underline;

 }
 .td1{
   width: 70%;
 }
 .td2{
   width: 30%
 }

.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 20px;
  background-color: white;
  position: fixed;
  height: 75px;
  width: 100%;


}
.banner{
  width: 175px;
  margin: 15px;
  }

.banner-item1 {
  min-height: 75px;
  font-family: forma-djr-text,sans-serif;
  font-weight: 400;
  font-size: 25px;

}
.banner-item2{
  font-family: forma-djr-text,sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  border: 2px solid black;

}
.banner-item2:hover{
  background-color: lightpink;
}
.intro{
  font-family: sans-serif;
  font-weight: 300;
  font-size: 3.5em;
  height: 400px;
  position: static;
  color: black  ;
  line-height: 105%;
  letter-spacing: -0.0025em;
  margin-left: 50px;
  margin-top: 150px;
  border: 2px dotted transparent;

}
.projects-header{
  text-align: center;
  font-family: forma-djr-text,sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.projects-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  min-height: 250px;
  z-index: -1;
}
.projects{
  position: relative;
  padding: 40px;
  border: 1px solid black;
  z-index: -1;

}
.projects-title{
  font-family: tuppence, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  color: black;

}
.mypic{
  max-width: 375px;
  z-index: -1;
  height: 375px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 50px;
  margin-top: 50px;
}

.content{

  padding: 0 25% 15% 25%;

}
.content-title{
  font-family: tuppence, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5vw;
  color: black;
  text-align: center;
}
.project-date{
  text-align: right;
  font-family: forma-djr-text,sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  font-style: italic;
}

.projects:hover{
  background-color: pink;
  transition-duration: 1s;
}
.img-mypicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 10%
}

.img-documentation {
  display: inline-grid;
  margin: auto;
  width: 60%;
  padding-top: 10%;

}
 .img-type {
   display: inline-grid;
   margin: auto;
   width: 100%;
   padding: 5%;
 }

 .img-type2 {
   display: inline-grid;
   width: 100%;
 }
 .img-type3 {
   display: inline-grid;
   margin: auto;
   width: 48%;
   padding-top: 5%;
 }
 .img-type4 {
   display: inline-grid;
   margin: auto;
   width: 30%;
   padding-bottom: 20px;
 }
 @media only screen and (max-width: 970px) {
   .intro {
      font-size: 2.75em;
   }
   .mypic{
     width: 300px;
     height: 300px;
   }
 }
 @media only screen and (max-width: 738px) {
   .intro {
      font-size: 2.3em;
   }
   .mypic{
     width: 250px;
     height: 250px;
   }
 }
 @media only screen and (max-width: 500px) {
   .intro {
      font-size: 1.7em;
   }
   .mypic{
     width: 100px;
     height: 100px;
   }
   .banner-item1 {
     font-size: 19px;
   }
 }
/*body {
 background-image: url("portfoliobg.png");
 background-color: #cccccc;
}
*/
